body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background: #f2f2f2;
  min-width: 768px;

}

.main-header,
.container,
.main-footer {
  max-width: 1200px;
  margin: auto;
  box-shadow: -10px 0 10px#dbdbdb,
  10px 0 10px #dbdbdb;

}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
 }

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 21px;
}

.site-navigation {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.site-navigation a,
.copyright a {
  color:  #000000;
}

.site-navigation a:hover,
.copyright a:hover {
  color:  #81b3d2;
}
.site-navigation a:focus,
.copyright a:focus{
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:active,
.copyright a:active {
  color:  #766357;
}

.main-header {
  background: #ffffff;
}

.main-photo {
  width: 100%;
  height: 500px;

}

.main-photo img {
  width:100%;
  height:500px;
  object-fit:cover;
}



.main-navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.site-navigation {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 46px;
  justify-content: space-around;
}

.main-header-logo {
  display:block;
  position: absolute;
  margin-top: -10px;
}

.features-text {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 50px;
}

.main-text {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: white;
  margin:auto;
  margin-top: 180px;
  text-align: center;
}

@keyframes example {
    0%   {color: rgb(255, 255, 255);}
    25%  {color: rgb(255, 255, 187);}
    50%  {color: rgb(185, 255, 249);}
    100% {color: rgb(208, 255, 208);}
}

.wtz {
  color: rgb(255, 255, 255);
  animation-name: example;
  animation-delay: 2s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.container {
  background: #ffffff;
  min-width: 765px;
}

.features-main-header {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
}

.features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-item-blue {
  display: flex;
  flex-direction: column;
  background: #81b3d2;
  align-items: center;
  width: 33.3333%;
  max-width: 400px;
  height: 256px;

}

.features-item-gray {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  align-items: center;
  max-width: 400px;
  height: 256px;
  flex-grow: 1;
}

.features-item-number,
.features-item-content {
  margin-top: 30px;
  padding: 0 60px;
  text-align: center;
}

.features-item-header {
  text-align: center;
}

.features-item-image1 {
  flex-grow: 1;
  background-image: url("../img/zt2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.features-item-image2 {
  flex-grow: 1;
  background-image: url("../img/zt1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.features-item-number {
  justify-self: center;
}

.what-list {
  display: flex;
  align-items: baseline;
}

.what-list-item {
display: flex;
height: 330px;
flex-direction: column;
align-items: center;

}

.what-item-header,
.what-item-text {
  text-align: center;
  margin-top: 30px;
  padding: 0 60px;
}

.what-item-image {
  margin-top: 60px;
}

.features-item-list {
  display: flex;
  width: 100%;
  max-height: 256px;
  justify-content: center;
  flex-grow: 1;
}

.features-item-header {
  margin-top: 50px;
}

.header-s2 {
  margin-top: 50px;
}

.text-s2,
.modal-open {
  margin-top: 30px;
}

.main-footer {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9)
}

.footer-social {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.footer-social li {
  display:flex;
  justify-content: center;
  align-content: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  display:flex;
  height: 470px;
  width: 100%;
}

.map img {
  width: 100%;
  object-fit: cover;
}

.social-icon {
  background: #81b3d2;
  width: 50px;
  height: 50px;
}

button {
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  border: none;
  display: inline-block;
  background: #766357;
  color: #ffffff;
  padding: 30px 0;
  min-width: 574px;
}

.modal-hotel{
  display:inline-block;
  width: 574px;
  height: 396px;
  background: rgb(255, 255, 255);
  position: absolute;
  margin-top: 234px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  margin: 55px;
}

.hotel-date {
  display: flex;
  width: 458px;
  margin-bottom: 30px;
  align-items: center;
}

.hotel-people {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.hotel-people-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hotel-search input{
  font: inherit;
  flex-grow: 1;
  height: 38px;

  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  margin-left: 5px;
}

.hotel-search input:hover{
  font: inherit;

  border: 2px solid #ebebeb;
  background: #ebebeb;
}

.hotel-search input:focus{
  font: inherit;

  border: 2px solid #ebebeb;
  background: #ffffff;
}

#hotel-date-to::-webkit-calendar-picker-indicator,
#hotel-date-from::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../svg/calendar.svg) no-repeat center;
  background-size: contain;
}

#hotel-date-to::-webkit-datetime-edit-text,
#hotel-date-from::-webkit-datetime-edit-text {
  color: transparent;
}

.input-number input{
  padding: 0;
  margin: 0;
  width: 40px;
  text-align: center;
}

.modal-button {
  padding: 0;
  min-width: 0;
  width: 458px;
  background: #81b3d2;
  height: 58px;
  margin-top: 55px;
}

.input-number {
  display: flex;
  width: 115px;
  margin-left: 30px;
  align-items: center;
}

.plus,
.minus {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  width: 40px;
  justify-content: center;
  align-items: center;
  height: 42px;
  cursor: pointer;
}

.plus:hover,
.minus:hover {
  background: #ebebeb;
  cursor: pointer;
}

.hotel-people-adult,
.hotel-people-child {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
